#flex1
{
float:left;
}

#flex4
{
	text-align:end;
}

#Containeur23
{
	display:flex;
	justify-content: flex-end;
	width:70%;
	float:left;
}


@media screen and (max-width: 630px)
{
	#Containeur23
	{
		clear:both;
		width:100%;
		justify-content:center;
	}
}



