@font-face /* POLICE */ {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    src: local("Raleway"),
        url("police/Raleway/static/Raleway-Medium.ttf") format("woff");
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2rem;
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-link {
    padding: 3rem 3rem 0 3rem;
}

.nav-login,
.nav-login:visited {
    padding: 6rem 1.5rem 0 3rem;
    color: #0065fc;
}

.nav-link:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
    transition: 0.1s;
}

/* TEXTE GRAS */

strong {
    font-size: 1.1em;
}

/* CORPS */

body {
    font-family: "Raleway";
    margin: 0;
}

/* SECTIONS */

section {
    clear: both;
    font-size: 0.95em;
    padding: 2rem;
}

/* ICONES */

/* TITRES H1*/

h1 {
    font-size: 1.6em;
    margin-bottom: 8px;
    margin-top: 20px;
}

h2 {
    font-size: 1.3em;
}

/* EFFETS DES CARTES AU SURVOL */

article:hover,
.activity a:hover {
    transition: 0.1s;
    transform: scale(1.015);
}

/* LIENS DEJA VU */

a {
    color: black;
}

/* LIENS APRES CLIQUE */

a:link {
    text-decoration: none;
}

/* ICONES */

.info i {
    color: #0065fc;
    border: 1px solid silver;
    width: 25px;
    height: 25px;
    border-radius: 150px;
    text-align: center;
    line-height: 25px;
    margin-right: 15px;
    float: left;
}

.etoiles {
    color: #0065fc;
}

.host-cartes-marseille:nth-child(2n-8)
    > a
    > .host-fig-cartes-marseille
    > .hosting-card-figcaption-marseille
    > .etoiles
    > i:last-child {
    color: silver;
}

.host-cartes-marseille:nth-child(5)
    > a
    > .host-fig-cartes-marseille
    > .hosting-card-figcaption-marseille
    > .etoiles
    > i:nth-child(n + 4) {
    color: silver;
}

.host-cartes-pop:nth-child(n + 3)
    > a
    > .host-fig-cartes-pop
    > .figcaption-flex
    > .etoiles
    > i:last-child {
    color: silver;
}

#gps {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    line-height: 40px;
    text-align: center;
}

.search-btn > i {
    display: none;
}

#search {
    display: flex;
}

/* -------------------------------------- ZONE DE RECHERCHE ----------------------------------- */
#flex-filter-box button {
    margin-right: 5px;
}

#flex-filter-box h2 {
    margin-right: 50px;
    padding-top: 8px;
}

/* BARRE DE RECHERCHE */

#marseille {
    height: 40px;
    padding: 0 20px;
    font-family: "Raleway";
    font-size: 1.1em;
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

::placeholder {
    color: black;
    opacity: 1;
    font-weight: bold;
}

/* BOUTON RECHERCHER */

.search-btn {
    line-height: 40px;
    height: 40px;
    text-align: center;
    background-color: #0065fc;
    color: white;
    font-size: 1.1em;
    border: none;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Raleway";
    margin-left: -8px;
}

/* BOUTON RECHERCHER ( LOUPE ) */

/* --------------------------------------------FILTRES------------------------------------------------- */

.headsection p {
    margin: 20px 0 20px 0;
    width: 100%;
}

/* FILTRES ICONES */

.filter-icons {
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: #deebff;
    color: #0065fc;
    margin: 0;
}

.filter-icons i {
    margin-right: -2px;
}

.filter-icons span {
    padding: 0 10px;
}

/* FILTRES CONTENEUR */

.filter-box {
    border: 2px solid silver;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 6px;
    background-color: white;
}

.filter-box span {
    padding: 0 10px;
}

.filter-box i {
    line-height: 40px;
}

/* FILTRES FLEXBOX */

#flex-filter-box {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    margin-top: 50px;
}

.filter-box:hover {
    background-color: aliceblue;
}

/* ------------------------------------------- SECTION HEBERGEMENT A MARSEILLE ------------------------------------------------ */

/* FLEX DES DEUX SECTIONS */

article {
    font-size: 0.9em;
}

#host-section {
    display: flex;
    align-items: flex-end;
}

/* 2 SECTIONS */

#host-marseille,
#host-pop {
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem;
}

/* CONTENEUR SECTION HEB MARSEILLE */

#host-marseille {
    display: flex;
    flex-wrap: wrap;
    width: 69%;
    margin-right: 30px;
}

/* TITRE DE SECTION */

section header {
    width: 100%;
    height: 1.5%;
    margin-bottom: 30px;
    margin-top: 0px;
}

/* CARTES DE HEB MARSEILLE */

.host-cartes-marseille {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    width: 31.5%;
    padding: 0.4em;
    height: 185px;
    min-width: 230px;
    max-width: 500px;
    margin-bottom: 30px;
    margin-right: 15px;
}

/* IMG DANS CARTES HEB MARSEILLE */

.hosting-card-figure-img-marseille {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

/* CONTENEUR FIGCAPTION CARTES HEB MARSEILLE */

.hosting-card-figcaption-marseille {
    margin-left: 10px;
}

/* DIV POUR "AFFICHER PLUS" */

.clear {
    display: block;
    width: 100%;
}
/*---------------------------------------------------SECTION LES PLUS POPULAIRES-------------------------------------------------------------------------*/

/* CONTENEUR SECTION LES PLUS POP */

#host-pop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 29%;
}

.title-graph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.1em;
}

.title-graph i {
    margin-top: 7px;
}
/* CONTENEUR CARTES LES PLUS POP */

.host-cartes-pop {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    width: 98%;
    padding: 0.4em;
    height: 130px;
    min-width: 230px;
    margin-bottom: 30px;
}

.host-cartes-pop:last-child {
    margin-bottom: 0;
}

/* CONTENEUR CARTES POP */

.host-fig-cartes-pop {
    display: flex;
}

/* CONTENEUR FLEX DES FIGCAPTION */

.figcaption-flex {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.figcaption-flex .etoiles {
    margin-left: 10px;
    margin-top: 2.3rem;
}

/* CONTENEUR IMAGE CARTES POP */

.hosting-card-figure-img-pop {
    height: 7.3rem;
    object-fit: cover;
    max-width: 100%;
    width: 40%;
    border-radius: 1rem 0rem 0rem 1rem;
}

/* CONTENEUR FIGCAPTION CARTES POP */

.hosting-card-figcaption-pop {
    margin-left: 10px;
}

/* TITRES FIGCAPTION CARTES POP */

.hosting-card-figcaption-title-pop {
    margin-top: 0.2em;
    margin-bottom: 0;
}

/* DESCRIPTION FIGCAPTION CARTES POP */

.host-cartes-desc-pop {
    margin-top: 0.1em;
    margin-left: 10px;
    margin-bottom: 0;
}

/* ---------------------------------------------------------------- SECTION ACTIVITES ---------------------------------------------------------------------------- */

.activity {
    margin-bottom: 4rem;
}

.act-flex {
    box-shadow: 0 0 16px #0000002e;
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-right: 2.2rem;
}

.act-flex2 {
    box-shadow: 0 0 16px #0000002e;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.act-flex3 {
    box-shadow: 0 0 16px #0000002e;
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.containeur-pic-act {
    position: relative;
    width: 100%;
    height: 100%;
}

.activity-pict {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.desc-card-act {
    font-size: 1em;
    padding: 1rem;
}

.flex-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    margin-right: 2.2rem;
}

.containeur-all-act {
    display: flex;
}

.flex-double:last-child {
    margin-right: 0;
}

/* ---------------------------------------------FOOTER--------------------------------------------------- */

/* CONTENEUR FOOTER */

#footer {
    background-color: #f2f2f2;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header1 header2 header3"
        "footer1 footer2 footer3";
}

.footer-title1 {
    grid-area: header1;
}
.footer-title2 {
    grid-area: header2;
}
.footer-title3 {
    grid-area: header3;
}

.footer-options1 {
    grid-area: footer1;
}
.footer-options2 {
    grid-area: footer2;
}
.footer-options3 {
    grid-area: footer3;
}

#footer ul {
    list-style-type: none;
    padding: 0px;
}

/* figures */

figure {
    margin: 0;
}

/* ----------------------------------------------------------------RESPONSIVE----------------------------------------------------------------------------------- */

@media screen and (max-width: 1500px) {
    .containeur {
        max-width: 100%;
    }
}
@media screen and (max-width: 1400px) {
    #host-section {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    #host-pop {
        width: unset;
        margin-bottom: 20px;
        flex-direction: row;
    }

    #host-marseille {
        width: unset;
    }

    .host-cartes-pop {
        width: 95%;
    }

    @media screen and (min-width: 1013px) {
        .host-cartes-pop {
            width: 30%;
            margin-bottom: unset;
        }
    }
}

@media screen and (max-width: 300px) {
    .host-cartes-desc-pop {
        margin-bottom: -15px;
    }
}

@media screen and (max-width: 1000px) {
    .host-cartes-marseille {
        min-width: 230px;
        width: 45%;
        transition: 0.8s;
        margin-bottom: 25px;
    }

    .act-flex {
        width: 31.5%;
        height: 12rem;
        margin-right: 2%;
        margin-bottom: 20px;
    }

    .flex-double {
        width: 66.5%;
        height: 5rem;
        flex-direction: row;
        margin-right: 0;
    }

    .act-flex2,
    .act-flex3 {
        height: 12rem;
        width: 50%;
        margin-right: 3%;
    }

    .containeur-all-act {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
    nav {
        position: relative;
        display: block;
    }

    nav ul {
        margin-top: 3rem;
        justify-content: center;
    }

    .nav-link {
        padding: 1rem 3rem;
        width: 1rem;
        margin: unset;
    }

    .login-link {
        margin: unset;
    }

    nav li:last-child {
        position: absolute;
        top: 11rem;
        right: 0;
    }

    .nav-link:nth-child(1),
    .nav-link:nth-child(2) {
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }

    .nav-link:hover {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }

    nav ul li {
        text-align: center;
    }

    .nav-login {
        position: absolute;
        bottom: 6.3rem;
        right: 1rem;
    }

    input:nth-child(3) {
        display: none;
    }

    .search-btn i {
        display: block;
    }

    .search-btn span {
        display: none;
    }

    .search-btn {
        width: 50px;
    }

    #flex-filter-box h2 {
        width: 100%;
        margin-bottom: 20px;
    }

    h1 {
        margin-top: 20px;
    }

    .title-of-section {
        font-size: 1.4em;
    }

    #host-marseille {
        background-color: white;
    }

    .host-cartes-marseille {
        min-width: 230px;
        width: 100%;
        transition: 0.6s;
        margin-bottom: 25px;
        margin-right: 0;
    }

    #host-marseille {
        width: unset;
        padding: 1rem;
        margin: 0;
    }

    #host-section {
        width: 100%;
        margin: 0;
    }

    .act-flex {
        width: 100%;
        margin-right: unset;
        transition: 0.6s;
    }

    .flex-double {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 21rem;
    }

    .act-flex2,
    .act-flex3 {
        width: 100%;
        margin-right: unset;
        margin-bottom: 1rem;
        transition: 0.6s;
    }

    .containeur-all-act {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    #marseille {
        width: 55%;
        padding-left: 20px;
    }

    #host-pop {
        border-radius: unset;
        transition: 0.3s;
        margin: unset;
    }

    .filter-box {
        margin-left: 0;
    }

    #flex-filter-box button:nth-child(3) {
        margin-right: unset;
    }

    h1 {
        font-size: 1.4em;
    }

    .title-of-section {
        margin-top: 20px;
    }
}
