@font-face /* POLICE */ {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    src: local("Raleway"),
        url("police/Raleway/static/Raleway-Medium.ttf") format("woff");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
.activity {
    display: grid;
    padding: 0 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 150px 25px 25px 150px;
    grid-gap: 35px;
    grid-template-areas:
        "header header header header"
        "act-flex1 act-flex2 act-flex4 act-flex6"
        "act-flex1 act-flex2 act-flex4 act-flex6"
        "act-flex1 act-flex2 act-flex4 act-flex5"
        "act-flex1 act-flex3 act-flex4 act-flex5";
}

a {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
}

.act-flex1 {
    grid-area: act-flex1;
}

.act-flex2 {
    grid-area: act-flex2;
}

.act-flex3 {
    grid-area: act-flex3;
}

.act-flex4 {
    grid-area: act-flex4;
}

.act-flex5 {
    grid-area: act-flex5;
}

.act-flex6 {
    grid-area: act-flex6;
}

.activity-pict {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.desc-card-act {
    line-height: 35px;
    padding: 0 10px;
    border-radius: 0 0 1rem 1rem;
    height: 50px;
    font-weight: bold;
    font-size: 0.9em;
}

.containeur-pic-act {
    width: 100%;
    height: calc(100% - 50px);
}

.activity-pict {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .activity {
        grid-template-columns: 1fr 1fr 1fr;

        grid-template-rows: auto 150px 150px;

        grid-template-areas:
            "header header header"
            "act-flex1 act-flex2 act-flex3"
            "act-flex4 act-flex5 act-flex6";
    }
}

@media screen and (max-width: 770px) {
    .activity {
        grid-template-columns: 1fr 1fr;

        grid-template-rows: auto 150px 150px 150px;

        grid-template-areas:
            "header header"
            "act-flex1 act-flex2"
            "act-flex3 act-flex4"
            "act-flex5 act-flex6";
    }
}

@media screen and (max-width: 550px) {
    .activity {
        grid-template-columns: 1fr;

        grid-template-rows: auto 175px 175px 175px 175px 175px 175px;

        grid-template-areas:
            "header"
            "act-flex1"
            "act-flex2"
            "act-flex3"
            "act-flex4"
            "act-flex5"
            "act-flex6";

        grid-gap: 25px;
