#activity {
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: auto 150px 150px;

    grid-template-areas:
        "header header header"
        "act-flex1 act-flex2 act-flex3"
        "act-flex4 act-flex5 act-flex6";
}

#footer {
    grid-template-areas:
        "header1 header2 header3"
        "footer1 footer2 footer3";

    grid-template-columns: 1fr 1fr 1fr;
}

#marseille {
    width: 200px;
}

.search-btn > i {
    display: none;
}

.search-btn span {
    display: block;
}

.search-btn {
    width: unset;
}
