.host-cartes-marseille {
    width: 30%;
}

.host-cartes-pop {
    width: 32.5%;
    margin-bottom: 0;
}

nav ul {
    grid-template-columns: 60% auto auto auto;
    grid-template-rows: 100px;
    grid-template-areas: " . heb act login";
    line-height: 100px;
}

header > nav > ul > li:last-child {
    text-align: unset;
    padding-top: 3px;
}

.nav-login {
    position: unset;
}

.nav-link {
    padding: unset;
    line-height: 100px;
}

header > nav > ul > li:first-child > .nav-link {
    border-top: 3px solid #0065fc;
    border-bottom: none;
    color: #0065fc;
}

header > nav > ul > li:nth-child(2) > .nav-link {
    margin-top: 3px;
}

header > nav > ul > li:nth-child(2) > .nav-link:hover {
    border-top: 3px solid #0065fc;
    border-bottom: none;
    margin: unset;
}

.headsection p {
    padding: 5px 0 20px 0;
    width: 100%;
}
