@font-face                /* POLICE */
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('police/Raleway/static/Raleway-Medium.ttf') format('woff');
}

strong                            /* TEXTE GRAS */
{
	font-size: 1.1em;
}


body                      /* CORP */
{
	font-family: 'Raleway';
}

#containeur
{
	max-width: 90%;
	width:86em;
	margin:auto;
}


section                   /* SECTIONS */
{
clear: both;
font-size: 0.95em;
}


i                         /* ICONES */
{
	margin-right: 1em;
}


h1                        /* TITRES H1*/
{
	font-size: 2em;
	margin-bottom:8px;
}


a:visited
{
	color:black;
}



a:link                         /* LIENS APRES CLIQUE */
{
	text-decoration: none;
}

a #flex2:hover                          /* BOUTON " ACTIVITE " DU NAV AU SURVOL */
{
	color:black;
	border-top:3px solid #0065FC;
	transition:0.1s;
	color:#0065FC;
}

#nav                         /* CONTENEUR 3 BOUTONS NAV */
{
	list-style-type:none;
	display:flex;
	justify-content: space-between;
	width:400px;
	float:right;
	font-size:1.2em;
	height: 5em;
	margin-top: 0;
	font-size: 1em;
	
}

#flex1                          /* BOUTON NAV " HEBERGEMENT " */
{
	border-top:3px solid #0065FC;
	height:90%;
	padding-top:2em;
	width:160px;
	text-align:center;
	color:#0065FC;
}

#flex2                         /* BOUTON NAV "ACTIVITE" */
{
	border-top:3px solid white;
	height:90%;
	padding-top:2em;
	width:140px;
	text-align:center;
	color:black;
}



#flex3                         /* BOUTON NAV " S'INSCRIRE " */
{
	border-top:3px solid white;
	height:90%;
	padding-top:2em;
	width:100px;
	text-align:center;
	color:#0065FC;
	font-weight: bold;


}

.float                         /* CLASS FLOAT LEFT */
{
	float:left;
	margin-top:2em;
	margin-bottom:2em;
}


#logoinfo
{
	color:#0065FC;                                                  /* ICONES */
	border:1px solid silver;
	float:left;
	width:20px;
	height:26px;
	padding-top:8px;
	padding-left:14px;
	border-radius:150px 150px 150px 150px;
	position:relative;
	bottom:8px;
	margin-right: 20px;
}

.etoilebleu
{
	float:left;
	color: #0065FC;
	letter-spacing: -10px;
	padding-top: 3px;

}
.etoilegrise
{
	color: silver;
	padding-top: 3px;
	letter-spacing: -10px;
}



#GPS                                            /* GPS ( BARRE DE RECHERCHE ) */
{
	float:left;
	height:33px;
	width:15px;
	padding-top:12px;
	padding-left:20px;
	padding-right:13px;
	padding-bottom:0;
	background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#Marseille                                        /* ZONE DE TEXTE ( BARRE DE RECHERCHE ) */
{
	float:left;
	height:44px;
	padding-left:30px;
	font-family: 'Raleway';
	font-size: 1.1em;
	border-radius: 3px 3px 3px 3px;
	border: none;
	width:200px;

}





#Rechercher                                       /* BOUTON RECHERCHER ( BARRE DE RECHERCHE ) */
{
	float:left;
	height:47px;
	background-color:#0065FC;
	color:white;
	font-size: 1.1em;
	border:none;
	width:150px;
	border-radius: 0px 15px 15px 0px;
	cursor:pointer;
	font-weight: bold;
	font-family: 'Raleway';
}


#filter1Icon                                               /* FILTRES */
{
	width:38px;
	height: 36px;
	border-radius: 60px 60px 60px 60px;
	padding-top:18px;
	padding-left:16px;
	position:relative;
	bottom:17px;
	right:5px;
	background-color:#DEEBFF;
	color:#0065FC;
	float:left;
}

#filter1Box
{
	width:180px;
	height: 35px;
	border:2px solid silver;
	border-radius: 100px 100px 100px 100px;
	text-align:center;
	padding-top:15px;
	font-weight: bold;
	margin-left:2em;
	cursor:pointer;
}



#filter2Icon
{
	width:38px;
	height: 36px;
	border-radius: 60px 60px 60px 60px;
	padding-top:18px;
	padding-left:15px;
	position:relative;
	bottom:17px;
	right:5px;
	background-color:#DEEBFF;
	color:#0065FC;
	float:left;
}

#filter2Box
{
	width:150px;
	height: 35px;
	border:2px solid silver;
	border-radius: 100px 100px 100px 100px;
	text-align:center;
	padding-top:15px;
	font-weight: bold;
	margin-left:2em;
	cursor:pointer;
}



#filter3Icon
{
	width:38px;
	height: 36px;
	border-radius: 60px 60px 60px 60px;
	padding-top:18px;
	padding-left:14px;
	position:relative;
	bottom:17px;
	right:5px;
	background-color:#DEEBFF;
	color:#0065FC;
	float:left;
}

#filter3Box
{
	width:170px;
	height: 35px;
	border:2px solid silver;
	border-radius: 100px 100px 100px 100px;
	text-align:center;
	padding-top:15px;
	font-weight: bold;
	margin-left:2em;
	cursor:pointer;
}




#filter4Icon
{
	width:38px;
	height: 38px;
	border-radius: 60px 60px 60px 60px;
	padding-top:16px;
	padding-left:16px;
	position:relative;
	bottom:17px;
	right:5px;
	background-color:#DEEBFF;
	color:#0065FC;
	float:left;
}

#filter4Box
{
	width:220px;
	height: 35px;
	border:2px solid silver;
	border-radius: 100px 100px 100px 100px;
	text-align:center;
	padding-top:15px;
	font-weight: bold;
	margin-left:2em;
	cursor:pointer;
}

#flexfilterbox                                                /* FILTRES FLEXBOX */
{
	display:flex;
	width:1100px;
	padding-top:10px;
	flex-wrap: wrap;
	max-width: 99%;
}

#filter1Box:hover                                              /* FILTRES EFFETS SURVOL */
{
	background-color:#F2F7FF;
	width:190px;
	transition: 0.3s;
}


#filter2Box:hover
{
	background-color:#F2F7FF;
	width:160px;
	transition: 0.3s;
}

#filter3Box:hover
{
	background-color:#F2F7FF;
	width:180px;
	transition: 0.3s;
}

#filter4Box:hover
{
	background-color:#F2F7FF;
	width:230px;
	transition: 0.3s;
}




                  /* ------------------------------------------- MILLIEU DE PAGE ------------------------------------------------ */



#section1                                   /* SECTION HOTELS MARSEILLE */

{
	width:890px;
	height:575px;
	background-color:#F2F2F2;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 70px;
	padding-left:32px;
	padding-right:32px;
	padding-top:15px;
	float:left;
}

#flexmarseille                               /* FLEXBOX HOTELS*/
{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	margin:auto;
	padding-left: 0;
}

#sectionflex li                                   /* LI HOTELS (PUCES NONE) */
{
	list-style-type: none;
}

#Cannebière                                                          /* CARTES HOTELS */
{
	text-align:bottom;
	border:6px solid white;
	width:250px;
	height:180px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Cannebière_test.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:0%;
}

#Amina
{
	text-align:bottom;
	border:6px solid white;
	width:250px;
	height:180px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Amina_ok.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:10%;
}


#Mer
{
	text-align:bottom;
	border:6px solid white;
	width:250px;
	height:180px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Mer_ok.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:10%;
}


#Port
{
	text-align:bottom;
	border:6px solid white;
	width:250px;
	height:180px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Port_ok.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:0%;
}


#Mouettes
{
	text-align:bottom;
	border:6px solid white;
	width:250px;
	height:180px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Mouettes_ok.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:0%;
}

#Panier
{
	text-align:bottom;
	border:6px solid white;
	width:250px;
	height:180px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Panier_ok.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:10%;
}


#Cannebière:hover                                                      /* HOTELS CARTES AU SURVOL */
{
	transition:0.1s;
	transform: scale(1.015);
}


#Port:hover           
{
	transition:0.1s;
	transform: scale(1.015);
}

#Mouettes:hover                      
{
	transition:0.1s;
	transform: scale(1.015);
}

#Mer:hover                                      
{
	transition:0.1s;
	transform: scale(1.015);
}

#Panier:hover                                     
{
	transition:0.1s;
	transform: scale(1.015);
}

#Amina:hover                                               
{
	transition:0.1s;
	transform: scale(1.015);
}

#Soleil:hover                                          
{
	transition:0.1s;
	transform: scale(1.015);
}

#Eau:hover                                              
{
	transition:0.1s;
	transform: scale(1.015);
}

#BleuBlanc:hover                                              
{
	transition:0.1s;
	transform: scale(1.015);
}




.textinpict                                           /* TEXTE + BLOCK BLANC DANS LES HOTELS  */
{
	background-color:white;
	width:238px;
	height:70px;
	margin-top: 42%;
	padding-left:5%;
	padding-top:2%;


}

                        /*------------------------------------------------SECTION LES PLUS POPULAIRE ( DROITE )-------------------------------------------------*/

#section2                                                       /* SECTION HOTELS POP */
{
	width:350px;
	height:575px;
	background-color:#F2F2F2;
	border-radius: 20px 20px 20px 20px;
	padding-left:32px;
	padding-right:32px;
	padding-top:15px;
	margin-left:35px;

}

#sectionflex
{
	display:flex;
}

#Soleil                                                                       /* HOTELS POPULAIRES CARTES */
{
	text-align:bottom;
	border:6px solid white;
	width:360px;
	height:110px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Soleil_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:0%;
	margin-bottom:20px;
	margin-left:-50px;
	clear:both;
}

#Eau
{
	text-align:bottom;
	border:6px solid white;
	width:360px;
	height:110px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Eau_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-bottom:20px;
	margin-top:0%;
	margin-left:-50px;
}

#BleuBlanc
{
	text-align:bottom;
	border:6px solid white;
	width:360px;
	height:110px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/BleuBlanc_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	padding-top:5%;
	margin-top:0%;
	margin-left:-50px;
}


.textinpictlarge                                          /* TEXTE + BLOCK BLANC DANS LES HOTELS POP */
{
	background-color:white;
	width:215px;
	height:122px;
	margin-top:-16px;
	margin-left:130px;
	margin-bottom:200px;
	padding-left: 15px;
	padding-top: 5px

}

#logograph                                                      /* LOGO GRAPGIQUE */
{
	position:relative;
	left:130px;
	top:18px;
	font-size: 1.6em;

}

#section2 h2                                                      /* TITRE SECTION HOTEL POP */
{
	float:left;
	margin-bottom:37px;

}


                        /*-----------------------------------------------SECTION ACTIVITES --------------------------------------------------*/



#VieuxPort                                                      /* ACTIVITES CARTES */
{
	height:500px;
	width:320px;
	border:0.001px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/VieuxPort_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	margin-bottom: 100px;
	float:left;
}

#Pomègues
{
	height:280px;
	width:320px;
	border:0.001px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Pomegues_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	margin-bottom: 20px;
	float:left;
	margin-left:30px;
}

#Frioul
{
	height:200px;
	width:320px;
	border:0.001px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Frioul_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	float:left;
	margin-left:30px;
}

#Calanques
{
	height:500px;
	width:320px;
	border:0.001px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Calanques_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	margin-bottom: 100px;
	float:left;
	margin-left:30px;
}

#Garde
{
	height:200px;
	width:320px;
	border:0.001px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Garde_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	margin-bottom: 20px;
	float:left;
	margin-left:30px;
}

#Longchamp
{
	height:280px;
	width:320px;
	border:0.001px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Longchamp_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	margin-bottom: 100px;
	float:left;
	margin-left:30px;
}
                                                                                /* TEXTES IN CARTES */
.textinpictbig
{
	background-color:white;
	width:300px;
	height:40px;
	margin-top: 440px;
	padding-top: 20px;
	padding-left:20px;
	border-radius: 0px 0px 15px 15px;
}

.textinpictmedium
{
	background-color:white;
	width:300px;
	height:40px;
	margin-top: 220px;
	padding-top: 20px;
	padding-left:20px;
	border-radius: 0px 0px 15px 15px;
}

.textinpictlitle
{
	background-color:white;
	width:300px;
	height:40px;
	margin-top: 140px;
	padding-top: 20px;
	padding-left:20px;
	border-radius: 0px 0px 15px 15px;
}


#flexportfrioul                                                     /* FLEX PORT ET FRIOUL POUR MISE EN PAGE */
{
	display:flex;
	flex-direction: column;
	width:320px;
	height:500px;
	float:left;
	margin-right: 30px;
}


article:hover                                                       /* ACT CARTES AU SURVOL */
{
	transition:0.1s;
	transform: scale(1.015);
}











#footer                             /* ------------------------------FOOTER------------------------------- */
{
	width:100%;
	height:200px;
	clear:both;
	background-color:#F2F2F2;
	display:flex;
	justify-content: space-around;
}

footer a                             /* -----FOOTER LIENS----- */
{
	color:black;
	font-size:0.9em;
}

.FooterFlex                                                 /* -------FOOTER FLEX ( MISE EN PAGE )------- */
{
	display:flex;
	flex-direction: column;
}











                                /* --------------------------------------------RESPONSIVE---------------------------------------------------- */








@media (max-width: 1440px)
{
	#sectionflex
	{
		flex-direction: column-reverse;
	}

	#section2
	{
		margin-bottom: 30px;
		height: 250px;
		width:99%;
		padding-left:10px;
		padding-right:10px;
		margin-left:0px;
		padding-left:0px;
		padding-top:0px;
		position:relative;
	}


	#lespluspop
	{
		display:flex;
		justify-content: space-around;
		width:90%;
		position:relative;
		bottom:10px;
	}


	#Soleil                                                                       /* HOTELS POPULAIRES CARTES */
	{
	margin:auto;
	padding:auto;
	border:6px solid white;
	width:30%;
	height:90px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Soleil_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	position:absolute;
	margin-left: -150px;
	}

	#Eau
	{
	border:6px solid white;
	width:30%;
	height:90px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/Eau_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	position:absolute;
	margin-left: -150px;

	}

	#BleuBlanc
	{
	border:6px solid white;
	max-width:30%;
	height:90px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #0000002e;
	background-image:url(images/BleuBlanc_mini.JPG);
	font-size: 1.1em;
	cursor:pointer;
	margin-left: -150px;
	position:absolute;
	}

	.textinpictlarge
{
	background-color:white;
	width:215px;
	height:122px;
}
